.view__collection {

    padding:22px 0;

    h2 {
        font-size:36px;
        margin-left: 50px;
        font-weight: 900;
    }
    .collection__videos{

        > a:nth-child(odd){
            background: #7491a11c;
        }

        .video {
            display:flex;
            padding:24px;
            background: inherit;
            flex-wrap: wrap;
            justify-content: center;
            position:relative;

            .video__imgCont {
                border-radius: 15px;;
                width:290px;
                height:180px;
                position:relative;
                overflow: hidden;
                margin-right:22px;

                img {
                    height:100%;
                    width:100%;
                    min-width: 100%;
                    min-height: 100%;
                    position:absolute;
                    top:50%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .video__text {
                display:flex;
                flex-direction: column;
                flex:1;

                .title {
                    font-size:36px;
                    font-weight: bold;
                }
            }
            
            .video__tags {
                display:flex;
                margin-top: auto;
                white-space: nowrap;

                div {
                    margin-right: 16px;
                    border-radius: 10px;
                    font-size:16px;
                    font-size:bold;
                    padding:12px 24px;
                    color:white;
                    background-color: #93B2C3;
                }
            }

            .video__dots {
                align-self: center;
                padding: 0 16px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                
                &:hover {
                    .dot {
                        transform: scale(1.15);
                    }
                }

                .dot {
                    transition:150ms;
                    border-radius: 50%;
                    background-color: #455863;
                    width:10px;
                    height:10px;
                }

                .dot:not(:last-child){
                    margin-bottom: 7px;
                }

                .dots__options {
                    opacity: 0;
                    pointer-events: none;
                    transition:150ms;
                    position:absolute;
                    top:0;
                    left:0;
                    transform:scale(0.5) translateX(-100%);
                    background: #93B2C3;
                    color:white;
                    border:1px solid rgba(255, 255, 255, 0.2);

                    >div {
                        display:flex;
                        padding:11px;
                        white-space: nowrap;
                        transition: inherit;

                        img {
                            margin-right:11px;
                        }

                        &:hover {
                            background: #9cbbcc;
                        }
                    }
                    >div:not(:last-child){
                        border-bottom: 1px solid white;
                    }
                }

                .dots__options--active {
                    transform:scale(1) translateX(-100%);
                    opacity: 1;
                    pointer-events: all;
                }
            }

            &:hover {
                .title {
                    text-decoration: underline;
                }
            }

        }

        
        
    }
}