* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #455863;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #f9f9f9;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown .dropdown-content--active {
  display: block;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #939393;
  padding: 60px 35px;
  min-width: 200px;
  min-height: 100px;
  border-radius: 15px;
  text-align: center;
  font-size: 28px;
  z-index: 2;
}

.popup > *:not(:last-child) {
  margin-bottom: 24px;
}

.popup .popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("/media/icons/Close.svg");
  cursor: pointer;
}

.popup button {
  padding: 15px 0 15px 0;
  border-radius: 15px;
  min-width: 220px;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #616161;
  color: white;
  cursor: pointer;
}

.popup input {
  width: 100%;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: 15px 30px;
  background-color: #EDEDED;
}

.darken {
  background: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.darken--active {
  opacity: 0.5;
  pointer-events: all;
}

.view__home {
  padding: 22px 50px;
  margin: 0 auto;
}

.view__home h2 {
  color: #455863;
  font-weight: 900;
  font-size: 28px;
}

.view__home .home__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.view__home .home__filters .filters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.view__home .home__filters .filters__item label {
  color: #455863;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.view__home .home__filters .filters__item select {
  background-color: #93B2C3;
  border-radius: 15px;
  border: none;
  color: white;
  height: 40px;
  width: 7.5vw;
  padding: 0 15px;
}

.view__home .home__filters .filters__item :focus-within {
  outline: none;
  border-radius: 15px 15px 0 0;
}

.view__home .home__filters input {
  display: inline-block;
  position: relative;
  bottom: 0;
  -webkit-appearance: none;
  background-color: rgba(147, 178, 195, 0.3);
  border-radius: 15px;
  border: none;
  outline: none;
  height: 40px;
  width: 33vw;
  text-indent: 15px;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.view__home .home__filters input :focus {
  background-color: rgba(0, 161, 248, 0.3);
}

.view__home .videos__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.view__home .videos__new .video {
  width: 40%;
  max-height: 330px;
}

.view__home .videos__new .text__title {
  font-size: 36px;
}

.view__home .videos__new .text__teacher {
  font-size: 14px;
}

.view__home .videos__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view__home .videos__all .video {
  margin-bottom: 90px;
  width: clamp(300px, 25%, 430px);
  max-height: 280px;
}

.view__home .videos__all .text__title {
  font-size: 18px;
}

.view__home .video {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  font-weight: bold;
}

.view__home .video img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.view__home .video .video__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #7491A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
}

.view__watch {
  margin: 30px;
}

.view__watch .watch__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.view__watch .watch__container .container__video {
  margin-right: 30px;
}

.view__watch .watch__container .container__video video {
  width: 100%;
}

.view__watch .watch__container .container__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border-radius: 40px;
  background-color: #7491A1;
  color: white;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view__watch .watch__container .container__description .description__main h1 {
  margin-bottom: 15px;
}

.view__watch .watch__container .container__description .description__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.view__watch .watch__container .container__description .description__tags div {
  background-color: #93B2C3;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.view__watch .watch__container .container__description .playlist__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.view__watch .videosRelated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view__watch .videosRelated .video {
  margin-bottom: 90px;
  width: clamp(300px, 25%, 430px);
  max-height: 280px;
}

.view__watch .videosRelated .text__title {
  font-size: 18px;
}

.view__watch .video {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  font-weight: bold;
}

.view__watch .video img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: block;
}

.view__watch .video .video__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #7491A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
}

.view__collection {
  padding: 22px 0;
}

.view__collection h2 {
  font-size: 36px;
  margin-left: 50px;
  font-weight: 900;
}

.view__collection .collection__videos > a:nth-child(odd) {
  background: #7491a11c;
}

.view__collection .collection__videos .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  background: inherit;
}

.view__collection .collection__videos .video .video__imgCont {
  border-radius: 15px;
  width: 290px;
  height: 180px;
  position: relative;
  overflow: hidden;
  margin-right: 22px;
}

.view__collection .collection__videos .video .video__imgCont img {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.view__collection .collection__videos .video .video__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.view__collection .collection__videos .video .video__text .title {
  font-size: 36px;
  font-weight: bold;
}

.view__collection .collection__videos .video .video__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  white-space: nowrap;
}

.view__collection .collection__videos .video .video__tags div {
  margin-right: 16px;
  border-radius: 10px;
  font-size: 16px;
  font-size: bold;
  padding: 12px 24px;
  color: white;
  background-color: #93B2C3;
}

.view__collection .collection__videos .video .video__dots {
  margin-left: auto;
  margin-right: -16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 16px;
  position: relative;
}

.view__collection .collection__videos .video .video__dots:hover .dot {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.view__collection .collection__videos .video .video__dots .dot {
  -webkit-transition: 150ms;
  transition: 150ms;
  border-radius: 50%;
  background-color: #455863;
  width: 10px;
  height: 10px;
}

.view__collection .collection__videos .video .video__dots .dot:not(:last-child) {
  margin-bottom: 7px;
}

.view__collection .collection__videos .video .video__dots .dots__options {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 150ms;
  transition: 150ms;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #93B2C3;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.view__collection .collection__videos .video .video__dots .dots__options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px;
  white-space: nowrap;
  -webkit-transition: inherit;
  transition: inherit;
}

.view__collection .collection__videos .video .video__dots .dots__options > div img {
  margin-right: 11px;
}

.view__collection .collection__videos .video .video__dots .dots__options > div:hover {
  background: #9cbbcc;
}

.view__collection .collection__videos .video .video__dots .dots__options > div:not(:last-child) {
  border-bottom: 1px solid white;
}

.view__collection .collection__videos .video .video__dots .dots__options--active {
  opacity: 1;
  pointer-events: all;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

#loader .spinner {
  border: 5px solid #48b18a50;
  border-radius: 50%;
  border-top: 5px solid #48B18B;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

aside {
  width: 285px;
  border-right: 1px solid #C4C4C4;
  font-size: 18px;
  padding: 22px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
}

aside > a, aside > div:not(:last-child) {
  margin-bottom: 40px;
}

aside .aside__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .aside__icon img {
  width: 40px;
  margin-right: 24px;
}

aside .aside__collections {
  margin-left: 90px;
}

aside .collections__addBtn {
  font-weight: bold;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #C4C4C4;
  margin-bottom: 24px;
}

header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__logo img {
  width: 60px;
  margin-right: 16px;
}

header .header__logo div {
  font-weight: 600;
  font-size: 36px;
}

header .dropdown {
  display: inline-block;
}

header .dropdown .dropdown-content > * {
  cursor: pointer;
}

header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .profile h3 {
  font-size: 16px;
}

header .profile #profile-img {
  width: 60px;
  margin-right: 10px;
}

header .profile .dropdown-icon {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */