.view__watch{
    margin: 30px;
    h1{ font-size: 1.5vw;}
    span{
        font-size: 1vw;
    }
    div{font-size: 1vw}
    .watch__container{
        display: flex;
        flex-direction: row;
        
        .container__video{
            width: 100%;
            margin-right: 30px;

            video{width: 100%;
                max-width: 1200px;
                width:100%;
                max-height:700px;
                height:100%;
           }
        }
        .container__description{
            display: flex;
            flex-direction: column;
            width: 35%;
            border-radius: 40px;
            background-color: #7491A1;
            color: white;
            padding: 30px;
            justify-content: space-between;
            
            .description__main{
               h1{margin-bottom: 15px;}
            }

        
           .description__tags{
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               margin-top: 15px;
               div{
                background-color: #93B2C3;
                border-radius: 5px;
                font-weight: bold;
                padding: 5px;
               margin: 5px;
               }
           }
           .playlist__buttons{
               img{width: 3vw;
                   margin: 0px 5px;}
               display: flex;
               justify-content: flex-end;
               align-items: center;
           }
        }
    }
    .videosRelated {
        margin-top: 30px;
        padding: 30px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #93B2C3;
        border-radius: 40px;
        font-weight: bold;
       h1{
           color: white;
           margin-bottom: 20px;
       }
    
        .video {
            width: clamp(300px, 25%, 430px);
            max-height: 280px;
        }

        .text__title {
            font-size: 18px;
        }

    }

    .video {
        position:relative;
        border-radius: 15px;
        overflow: hidden;
        color:white;
        font-weight: bold;
        
        img {
            width:100%;
            height:100%;
            min-width: 100%;
            min-height: 100%;
            display:block;
        }

        .video__text {
            position: absolute;
            left:0;
            bottom: 0;
            width: 100%;
            background: #7491A1;
            display:flex;
            justify-content: space-between;
            padding: 16px 24px;
        }

    }
    @media only screen and (max-width: 1000px) {
        .watch__container{
            flex-direction: column;
        }
        
    }
}
