header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: solid 1px #C4C4C4;
    margin-bottom: 24px;
    z-index:2;
    position:relative;

    .header__logo {
        display:flex;
        align-items: center;
        img {
            width:60px;
            margin-right:16px;
        }
        div {
            font-weight: 600;
            font-size: 36px;
        }
    }

    .dropdown {
        display: inline-block;

        .dropdown-content > * {
            cursor: pointer;
        }
    }

    .profile {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;

        h3 {
            font-size: 16px;
        }
        #profile-img{
            width: 60px;
            margin-right: 10px;
            
        }
        .dropdown-icon{
            margin-right: 15px;
        }
    }
}