header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid gray;
        .logo{
            width: 10%;
            min-width: 80px;
        }
        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;
   
            h3{
                font-size: 14px;
            }
                #profile-img{
                    width: 50px;
                    margin-right: 10px;
                    
                }
                .dropdown-icon{
                    margin-right: 15px;
                }
                
        }
    .active{
        display: block;
    }
}