header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
        .logo{
            width: 10%;
        }
        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;
            h3{
                font-size: 14px;
            }
            img{
                width: 65px;
                margin-right: 10px;
            }
        }
    .active{
        display: block;
    }
}