aside {
    width: 285px;
    border-right: 1px solid #C4C4C4;
    font-size:18px;
    padding:22px;
    flex-shrink: 0;
    height: calc(100vh - 44px);
    position:sticky;
    top:24px;
    

    >a, >div:not(:last-child) {
        margin-bottom: 40px;
    }

    .aside__icon {
        display:flex;
        align-items: center;
        
        img {
            width:40px;
            margin-right:24px;
        }
    }

    .aside__collections {
        margin-left: 90px;
    }

    .collections__addBtn {
        font-weight: bold;
        cursor: pointer;
    }
}